<form action="/lamps" method="POST">
<input id="color_0" name="lamp[colors][]">
<input id="color_1" name="lamp[colors][]">
<input id="color_2" name="lamp[colors][]">
<input id="color_3" name="lamp[colors][]">

<input type="submit" value="Save">
</form>
