<form action="/lamps" method="POST">
  <input id="color_0" type="text" name="lamp[colors][]">
  <input id="color_1" type="text" name="lamp[colors][]">
  <input id="color_2" type="text" name="lamp[colors][]">
  <input id="color_3" type="text" name="lamp[colors][]">
  <input type="submit" value="Save">
</form>
