<form action='/lamps' method='POST'>
<input type='submit' value="Save">

<input type='text' name='lamp[colors][color_0]'>
<input type='text' name='lamp[colors][color_1]'>
<input type='text' name='lamp[colors][color_2]'>
<input type='text' name='lamp[colors][color_3]'>


</form>