<form action="/lamps" method="POST">
  <input type="text" id="color_0" name="lamp[colors][]">
  <input type="text" id="color_1" name="lamp[colors][]">
  <input type="text" id="color_2" name="lamp[colors][]">
  <input type="text" id="color_3" name="lamp[colors][]">
  <button type="submit">Save</button>
</form>
