<form action="/tables" method="post">
  <label for="table_name">Name</label>
  <input id="table_name" type="text" name="table[name]"/>

  <label for="table_wood">Wood</label>
  <input id="table_wood" type="text" name="table[wood]"/>

  <label for="table_price">Price</label>
  <input id="table_price" type="text" name="table[price]"/>



  <input type="submit" value="Save">
</form>
