<form action='/tables' method='POST'>
  <input type='text' name="table[name]">
  <input type='text' name="table[wood]">
  <input type='text' name="table[price]">
  <input type='submit' value="Save">
</form>
